<launch>
  <!-- Launch Gazebo with an empty world -->

    <arg name="world" default="empty" />
    <arg name="paused" default="false" />
    <arg name="use_sim_time" default="true" />
    <arg name="gui" default="true" />
    <arg name="headless" default="false" />
    <arg name="debug" default="false" />
    <arg name="slam_methods" default="gmapping"/>
    <arg name="configuration_basename" default="six_lds_2d.lua"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find six)/worlds/bookstore.world" />
    </include>

  <!-- Load the robot description from the Xacro file -->
    <param
      name="robot_description"
      command="$(find xacro)/xacro $(find six)/urdf/six.urdf" />

  <!-- Spawn the robot in Gazebo -->
    <node
      name="spawn_model"
      pkg="gazebo_ros"
      type="spawn_model"
      args="-urdf -param robot_description -x -0 -y -0 -z 0.5 -model six"
      output="screen" />

  <!--<node pkg="tf" type="static_transform_publisher" name="laser_broadcaster" args="0 0 0 0 0 0 base_link laser 100" />-->
  <!-- Load controllers -->
  <!--<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
        args="arm_link1_controller arm_link2_controller" />
  <rosparam file="$(find six)/config/controller.yaml" command="load" />-->
  <!-- Joint State Publisher GUI -->
  <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" />

  <!-- Robot State Publisher -->
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />

  <!-- SLAM: Gmapping, Cartographer, Hector, Karto, Frontier_exploration, RTAB-Map -->
    <include file="$(find six)/launch/six_$(arg slam_methods).launch">
      <arg name="configuration_basename" value="$(arg configuration_basename)"/>
    </include>
  <!-- Launch RViz with a predefined configuration -->
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find six)/config/save.rviz" />
  <!-- SLAM: Move_base -->
    <include file="$(find six)/launch/move_base.launch"></include>
     <!-- Khởi động explore_lite -->
<!--<node pkg="explore_lite" type="explore" respawn="false" name="explore" output="screen">
  <param name="robot_base_frame" value="base_link"/>
  <param name="costmap_topic" value="/move_base/global_costmap/costmap"/>
  <param name="costmap_updates_topic" value="/move_base/global_costmap/costmap_updates"/>
  <param name="visualize" value="true"/>
  <param name="planner_frequency" value="0.33"/>
  <param name="progress_timeout" value="30.0"/>
  <param name="potential_scale" value="3.0"/>
  <param name="orientation_scale" value="0.0"/>
  <param name="gain_scale" value="1.0"/>
  <param name="transform_tolerance" value="0.3"/>
  <param name="min_frontier_distance" value="0.5"/>
</node>-->
   </launch>
