<launch>
     <!-- Thiết lập tham số mô tả robot -->
     <param name="robot_description" command="$(find xacro)/xacro $(find six)/urdf/six.urdf" />

     <!-- Khởi động Gazebo với empty_world.launch -->
     <include file="$(find gazebo_ros)/launch/empty_world.launch" />

     <!-- Khởi tạo robot trong Gazebo -->
     <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model six -param robot_description -x 0 -y 0 -z 0" />

     <!-- Xuất bản trạng thái khớp -->
     <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

     <!-- Xuất bản trạng thái robot -->
     <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
   </launch>
